{% extends 'base.html' %}

{% block title_bread %} Справочник{% endblock %}
{% block linkname_bread %} Добавлене организационно-правовой формы{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-9 mx-auto">
        <div class="card">
            <div class="card-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <label class="form-label">{{form.opfname.label}}</label>
                    {{form.opfname(class = "form-control mb-3", id = "formFileSm")}}
                    {{form.submit(class = "btn btn-primary")}}
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}