{% extends 'base.html' %}

{% block title_bread %} Справочник{% endblock %}
{% block linkname_bread %} Добавлене события{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-9 mx-auto">
        <div class="card">
            <div class="card-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <label class="form-label">{{form.eventname.label}}</label>
                    {{form.eventname(class = "form-control mb-3", id = "formFileSm")}}
                    {{form.eventdate(class = "form-control mb-3")}}
                    {{form.eventtag(class = "form-control mb-3")}}
                    {{form.eventnalog(class = "form-control mb-3")}}
                    {{form.eventopf(class = "form-control mb-3")}}
                    {{form.eventvidotchet(class = "form-control mb-3")}}
                    {{form.eventcontrolorgan(class = "form-control mb-3")}}


                    {{form.submit(class = "btn btn-primary")}}
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}