{% extends 'base.html' %}

{% block title_bread %} События{% endblock %}
{% block linkname_bread %} Событие - {{event.event_name}}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <label class = 'form-label'>Название события</label>
        <input class="form-control mb-3" type="text" placeholder= '{{event.event_name}}' disabled="">

        <div class="row">
            <div class="col mb-3">
                <label class="form-label">Начальная дата:</label>
                <input type="date" class="form-control" name = "data_start" value="{{event.event_data_start}}" disabled="">
            </div>

            <div class="col mb-3">
                <label class="form-label">Конечная дата:</label>
                <input type="date" class="form-control" name="data_end" value="{{event.event_data_end}}" disabled="">
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <hr>
                <label class = 'form-label'>Тип отчетности</label>
                <input class="form-control mb-3" type="text" placeholder= '{{event.vidotchet.vid_name}}' disabled="">
                <label class = 'form-label'>Контролирующий орган</label>
                <input class="form-control mb-3" type="text" placeholder= '{{event.controlorgan.contol_name}}' disabled="">
                <hr>
            </div>

            <div class="col mb-3">
                {%if event.opf%}
                <label class="form-label  mt-3">Организационно-правовая форма</label>
                <ul class="list-group">
                    {%for opf in event.opf%}
                    <li class="list-group-item">{{opf.opf_name}}</li>
                    {%endfor%}
                </ul>
                {%endif%}


                {%if event.nalog%}
                <label class="form-label  mt-3">Система налогообложения</label>
                <ul class="list-group">
                    {%for nalog in event.nalog%}
                    <li class="list-group-item">{{nalog.nalog_name}}</li>
                    {%endfor%}
                </ul>
                {%endif%}
            </div>
        </div>

        {%if event.tag%}
        <label class="form-label  mt-3">Тэги событий</label>
        <ul class="list-group">
            {%for tag in event.tag%}
            <li class="list-group-item">{{tag.tag_name}}</li>
            {%endfor%}
        </ul>
        {%endif%}





    </div>

</div>
</div>
{% endblock %}