{% extends 'base.html' %}

{% block title_bread %} Организация{% endblock %}
{% block linkname_bread %} Список организаций{% endblock %}

{% block content %}

<div class ='row row-cols-1 row-cols-lg-3 g-lg-3'>

    {%for client in clients%}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div>
                    <h5 class="card-title">{{client.client_name}}</h5>
                </div>
                <span>ИНН: {{client.client_inn}}</span>
                <span>| </span>
                <span>
                    {%for opf in client.opf%}
                    {{opf.opf_name}}
                    {%endfor%}
                </span>
                 <span> -
                    {%for nalog in client.sysnalog%}
                    {{nalog.nalog_name}}
                    {%endfor%}
                </span>

                <p class="card-text">{{client.client_description}}</p>

            </div>
        </div>
    </div>
    {%endfor%}
</div>

{% endblock %}