{% extends 'base.html' %}

{% block title_bread %}Страница организации{% endblock %}
{% block linkname_bread %}{% endblock %}

{% block content %}
<a href="/client/{{client.id}}/zp">Сфомировать ЗП</a>
<div class="row">
    <div class="col-lg-6 mb-2">
        <div class="card">
            <div class="card-header">
                <h5 class = "card-title">Информация о компании</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">Название компании</label>
                    <input type="text" class="form-control" value="{{client.client_name}}" disabled="">
                </div>

                <div class="mb-3">
                    <label class="form-label">Комментарий</label>
                    <input type="text" class="form-control" value="{{client.client_description}}" disabled="">
                </div>


            </div>
        </div>
        <div class="card mt-2">
            <div class="card-header">
                <h5 class = "card-title">Контакты организации</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">Телефон ответственного лица</label>
                    <input type="text" class="form-control" value="{{client.client_contact_phone}}" disabled="">
                    <label class="form-label mt-2">ФИО ответственного лица</label>
                    <input type="text" class="form-control" value="{{client.client_contact_name}}" disabled="">

                </div>

                <div class="mb-3">
                    <label class="form-label">Почта</label>
                    <input type="text" class="form-control" value="{{client.client_contact_email}}" disabled="">
                </div>


            </div>
        </div>
        <div class="card mt-2">
            <div class="card-header">
                <h5 class = "card-title">Параметры компании</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">Орг. прав. форма</label>
                    <input type="text" class="form-control" value="{{client.opf.opf_name}}" disabled="">
                </div>

                <div class="mb-3">
                    <label class="form-label">Система налогообложения</label>
                    <input type="text" class="form-control" value="{{client.nalog.nalog_name}}" disabled="">
                </div>

                <div class="list-group list-group-flush">
                    {%for tag in client.tag%}
                    <span class="list-group-item list-group-item-action disabled">{{tag.tag_name}}</span>
                    {%endfor%}
                </div>
            </div>
        </div>

        <div class="card mt-2">
            <div class="card-header">
                <h5 class = "card-title">Бухгалтеры, обслуживающие компанию</h5>
            </div>
            <div class="card-body">
                <div class="list-group list-group-flush">
                    {%for user in client.user%}
                    <span class="list-group-item list-group-item-action disabled">{{user.surname}} {{user.name}}</span>
                    {%endfor%}
                </div>
            </div>

        </div>




    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class = "card-title">Реквизиты организации</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-vcenter card-table table-striped">
                        <tbody>
                        <tr>
                            <td>Полное название организации</td>
                            <td>{{client.client_fullname}}</td>
                        </tr>
                        <tr>
                            <td>Сокращенное название</td>
                            <td>{{client.client_shortname}}</td>
                        </tr>
                        <tr>
                            <td>Юридический адрес</td>
                            <td>{{client.client_uraddress}}</td>
                        </tr>
                        <tr>
                            <td>Почтовый адрес</td>
                            <td>{{client.client_pochtaddress}}</td>
                        </tr>
                        <tr>
                            <td>ИНН / КПП</td>
                            <td>{{client.client_inn}} / {{client.client_kpp}}</td>
                        </tr>
                        <tr>
                            <td>ОГРН</td>
                            <td>{{client.client_ogrn}}</td>
                        </tr>
                        <tr>
                            <td>Директор</td>
                            <td>
                                <div>{{client.client_director}}</div>
                                <div>{{client.client_osnovanie}}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card mt-2">
            <div class="card-header">
                <h5 class = "card-title">Банковские реквизиты</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-vcenter card-table table-striped">
                        <tbody>
                        <tr>
                            <td>Расчетный счет</td>
                            <td>{{client.client_bank_rs}}</td>
                        </tr>
                        <tr>
                            <td>Кор. счет</td>
                            <td>{{client.client_bank_ks}}</td>
                        </tr>
                        <tr>
                            <td>БИК банка</td>
                            <td>{{client.client_bank_bik}}</td>
                        </tr>
                        <tr>
                            <td>Банк</td>
                            <td>{{client.client_bank_name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}