{% extends 'base.html' %}

{% block title_bread %} Организация{% endblock %}
{% block linkname_bread %} {{client.client_name}}{% endblock %}

{% block content %}

<a href = "/client/clientdel/{{client.id}}">удалить компанию</a>
<div class="card mt-3">
    <div class="card-header">
        <h6>Организация</h6>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col">
                <label class = 'form-label'>Название организации</label>
                <input class="form-control mb-3" type="text" placeholder= '{{client.client_name}}' disabled="">

                <label class = 'form-label'>Организационно-правовая форма</label>

                <input class="form-control mb-3" type="text" placeholder= '{{client.opf.opf_name}}' disabled="">

            </div>
            <div class="col">
                <label class = 'form-label'>ИНН</label>
                <input class="form-control mb-3" type="text" placeholder= '{{client.client_inn}}' disabled="">

                <label class = 'form-label'>Система налогообложения</label>

                <input class="form-control mb-3" type="text" placeholder= '{{client.nalog.nalog_name}}' disabled="">

            </div>
        </div>

        <label class = 'form-label'>Комментарий</label>
        <input class="form-control mb-3" type="text" placeholder= '{{client.client_description}}' disabled="">

        <h6>Доступ пользователей</h6>
        <div class="row">
            {%for user in client.user%}
            <span>{{user.login}} </span>
            {%endfor%}
        </div>

        {%if client.tag%}
        <h6>Тэги организации</h6>
        <ul class="list-group">
            {%for tag in client.tag%}
            <li class="list-group-item">{{tag.tag_name}}</li>
            {%endfor%}
        </ul>
        {%endif%}
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        <h6>Все события</h6>
    </div>
    <div class="card-body">


        {%for event in all_events%}
        <div class="card shadow-none border">
            <div class="card-body">
                <div>
                    <h5 class="card-title">{{event[0].event_name}} | {{event[1]}}</h5>
                </div>
                <div class="row row-cols-auto">
                    <div class="col">
                        <a type="button"href = '/client/eventnotready/{{event[0].id}}/{{client.id}}' class="btn btn-outline-secondary px-5">Не выполняется</a>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}

    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h6>Актуальные события</h6>
            </div>
            <div class="card-body">


                {%for event in actual_events%}
                <div class="card shadow-none border">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">{{event.event_name}} | {{event.event_data}}</h5>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col">
                                <a type="button"href = '/client/eventok/{{event.id}}/{{client.id}}' class="btn btn-outline-success px-5">Выполнено</a>
                            </div>

                        </div>
                    </div>
                </div>
                {%endfor%}

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h6>Выполненные события</h6>
            </div>
            <div class="card-body">


                {%for event in ready_events%}
                <div class="card shadow-none border">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">{{event.event_name}} | {{event.event_data}}</h5>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col">
                                <a type="button"href = '/client/eventproof/{{event.id}}/{{client.id}}' class="btn btn-success px-5">Подтвердить</a>
                            </div>

                            <div class="col">
                                <a type="button"href = '/client/eventno/{{event.id}}/{{client.id}}' class="btn btn-outline-danger px-5">Отменить</a>
                            </div>

                        </div>
                    </div>
                </div>
                {%endfor%}

            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h6>Невыполняется</h6>
    </div>
    <div class="card-body">


        {%for event in notready_events%}
        <div class="card shadow-none border">
            <div class="card-body">
                <div>
                    <h5 class="card-title">{{event.event_name}} | {{event.event_data}}</h5>
                </div>
                <div class="row row-cols-auto">
                    <div class="col">
                        <a type="button"href = '/client/eventno/{{event.id}}/{{client.id}}' class="btn btn-outline-warning px-5">Выполняется (стутус не выполнено)</a>
                    </div>

                </div>
            </div>
        </div>
        {%endfor%}

    </div>
</div>


{% endblock %}