{% extends 'base.html' %}

{% block title_bread %} Организация {% endblock %}
{% block linkname_bread %} Редактирование организации {% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-9 mx-auto">
        <div class="card">
            <div class="card-body">
                <form method="POST" action="">

                    <div class="card mt-2">
                        <h5 class="card-header md-2">Название и описание организации</h5>
                        <div class="card-body">
                            <input class="form-control mb-3" name = 'name' value = '{{client.client_name}}'>
                            <input class="form-control mb-3" name = 'inn', value="{{client.client_inn}}">
                            <textarea class="form-control mb-3" rows="2" cols="3" name = 'description'>{{client.client_description}}</textarea>
                        </div>
                    </div>

                    <div class="card mt-2">
                        <h5 class="card-header md-2">Организационно-правовая форма</h5>
                        <div class="card-body">
                            {%for opf in opfs%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioopf" id="radioopf_{{opf.id}}" value="{{opf.id}}">
                                <label class="form-check-label" for="radioopf_{{opf.id}}">{{opf.opf_name}}</label>
                            </div>
                            {%endfor%}
                        </div>
                    </div>

                    <div class="card mt-2">
                        <h5 class="card-header md-2">Система налогообложения</h5>
                        <div class="card-body">
                            {%for nalog in nalogs%}

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radionalog" id="radionalog_{{nalog.id}}" value="{{nalog.id}}">
                                <label class="form-check-label" for="radionalog_{{nalog.id}}">{{nalog.nalog_name}}</label>
                            </div>
                            {%endfor%}
                        </div>
                    </div>

                     <div class="card mt-2">
                        <h5 class="card-header md-2">Зарплата</h5>
                        <div class="card-body">
                            <input class="form-control mb-3"  name = 'datazp' value="{{client.client_datazp}}">
                            <input class="form-control mb-3"  name = 'dataavans' value="{{client.client_dataavansa}}">
                        </div>
                    </div>

                    <div class="card mt-2">
                        <h5 class="card-header md-2">Тэги организации</h5>
                        <div class="card-body">
                            {%for tag in tags%}
                            <div class="form-check form-switch form-check-inline">
                                <input class="form-check-input" type="checkbox" id="checktag_{{tag.id}}" name = 'checktag_{{tag.id}}'>
                                <label class="form-check-label" for="checktag_{{tag.id}}">{{tag.tag_name}}</label>
                            </div>
                            {%endfor%}
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary px-5 radius-30">Изменить</button>
                </form>
            </div>

        </div>
    </div>
</div>


{% endblock %}