{% extends 'base.html' %}

{% block title_bread %}{% endblock %}
{% block linkname_bread %}{% endblock %}


{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Пользователи</h5>
        <div class="card-actions">
            <a href="/user/adduser" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                Добавить пользователя
            </a>
        </div>


    </div>

    <div class="card-body">
        <div class="row row-cards">
            {%for user in users%}
                {%if user.possition == 'admin'%}
                <div class="col-md-6 col-lg-3">
                    <div class="card card-inactive">
                        <div class="card-body p-4 text-center">
                            <span class="avatar avatar-xl mb-3 rounded" style="background-image: url('{{url_for('static', filename = 'avatar.png')}}')"></span>
                            <h3 class="m-0 mb-1"><a href="/user/{{user.id}}">{{user.name}} {{user.surname}}</a></h3>
                            <div class="text-muted">Администратор</div>
                        </div>
                    </div>
                </div>
                {%endif%}

                {%if not current_user == user%}
                <div class="col-md-6 col-lg-3">
                    <div class="card">
                        <div class="card-body p-4 text-center">
                            <span class="avatar avatar-xl mb-3 rounded" style="background-image: url('{{url_for('static', filename = 'avatar.png')}}')"></span>
                            <h3 class="m-0 mb-1"><a href="/user/{{user.id}}">{{user.name}} {{user.surname}}</a></h3>
                            <div class="text-muted">Бухгалтер</div>
                        </div>
                    </div>
                </div>
                {%endif%}
            {%endfor%}
        </div>
    </div>
    {% endblock %}