{% extends 'base.html' %}

{% block title_bread %} Календарь событий{% endblock %}
{% block linkname_bread %} <span class = "dateinfo"></span> {% endblock %}

{% block content %}

<style>


</style>

<!--card card-body-->
<div class="">
    <div class="">
        <div class="row row-cols-auto g-3 mb-3">
            <!--            <div class="col">-->
            <!--                <h3 class = "dateinfo"></h3>-->
            <!--            </div>-->
            <div class="col">
                <button class = "btn btn-primary px-5 prev" onclick = btnprev()>prev</button>
            </div>
            <div class="col">
                <button class = "btn btn-primary px-5 next" onclick = btnnext()>next</button>
            </div>
        </div>

        <div class = "table-responsive">
            <table class = "table  mb-0 table-responsive">
                <thead>
                <tr class = "days d-flex"></tr></thead>
                <tbody class = "info"></tbody>
            </table>
        </div>

    </div>
</div>

<div class="modal fade ttt" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" onclick = closemodal() class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <div class="input-group mb-3">
                    <input type="text" class="form-control input_name_pevent" placeholder="Название события">
                    <button class="btn btn-outline-secondary btn_add_pevent">Добавить событие</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal-backdrop fade show"></div> -->
<script src ={{url_for('static',filename='/calendar/calendar.js')}}></script>
{% endblock %}