{% extends 'base.html' %}

{% block title_bread %} Календарь{% endblock %}
{% block linkname_bread %} тест {% endblock %}

{% block content %}

<div class="card">
    <div class="card card-body">
        <table class="display" style="width:100%">
            <h3>{{cal[0]}} - {{cal[2]}}г.</h3>
            <hr>
            <thead>

            <tr>
                <th></th>

                {%for i in cal[1]%}

                <th>{{i[0]}}</th>
                {%endfor%}
            </tr>
            <tr>
                <td></td>

                {%for i in cal[1]%}
                {%if i[1] == 'Сб' or i[1] == 'Вс' %}
                <td class = 'text-danger'>{{i[1]}}</td>
                {%else%}
                <td>{{i[1]}}</td>
                {%endif%}
                {%endfor%}
            </tr>
            </thead>

            <tbody>
            {%for client in client_info%}
            <tr>
                <td>{{client[0].client_name}}</td>
                {%for t in client[1]%}
                <td>
                    {%if t[0] == 0%}
                    <span class = 'text-default' href = '#'>0</span>
                    {%else%}
                        {%if t[0] > 0 and t[1]>0 and t[0] == t[1]%}
                        <span class = 'text-success' href = '#'>{{t[0]}}/{{t[1]}}</span>
                        {%else%}
                        <span class = 'text-default' href = '#'>{{t[0]}}/{{t[1]}}</span>

                        {%endif%}
                    {%endif%}

                </td>
                {%endfor%}

            </tr>
            {%endfor%}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}