<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>БизБухгалтер - сервис для бухгалтеров</title>
    <!-- CSS files -->
    <link href="{{url_for('static',filename='/dist/css/tabler.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='/dist/css/tabler-payments.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static',filename='/dist/css/tabler-vendors.css')}}" rel="stylesheet"/>
</head>
<body >
<div class="page page-center">
    <div class="container-tight py-4">
    <div class="text-center mb-4">
          <a href="/" class="navbar-brand navbar-brand-autodark"><img src="{{url_for('static',filename='logo.png')}}" height="40" alt=""></a>
        </div>
        <form class="card card-md" action="." method="get">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Забыл пароль</h2>
            <p class="text-muted mb-4">Ведите Ваш email для восстановления пароля</p>
            <div class="mb-3">
              <label class="form-label">Ваш Email</label>
              <input type="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-footer">
              <a href="#" class="btn btn-primary w-100">
                <!-- Download SVG icon from http://tabler-icons.io/i/mail -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="3" y="5" width="18" height="14" rx="2"></rect><polyline points="3 7 12 13 21 7"></polyline></svg>
                Прислать новый пароль
              </a>
            </div>
          </div>
        </form>
        <div class="text-center text-muted mt-3">
            У вас нет аккаунта? <a href="/registration" tabindex="-1">Зарегистрироваться</a>

        </div>
        <div class="text-center mt-3">
            <a href="./forgot-password.html">Я забыл пароль</a>
        </div>
    </div>
</div>
<!-- Libs JS -->
<!-- Tabler Core -->
<script src="{{url_for('static',filename='dist/js/tabler.js')}}"></script>
</body>
</html>